.con_c_t{
	display:inline-block;
	width:100%;
	}	
.control{
	float:left; 
	width:100%;
	margin-bottom:5px;
}	
.control li{
	float:left;
	min-width:150px;
	color:#888888;
	}
.control .lid{
	margin-left:5px;
	background:#EEEEEE;
	border:1px solid #C6CACC;
	border-radius:5px;
	padding-left:6px;
	}	
.control .on{
	color:#444444;
	}	
.control .on .muh3{
	color:#53a1e6;
	}	
.control li:hover{
	cursor:pointer;
	color:#444444;
	}
.control li:hover .lid{
	border-color:#b0b0b0;
	}		
.control li:hover .muh3{
	color:#53a1e6;
	}		
.control .muh3{
	font-size:36px;
	color:#d5d5d5;
	padding-right:5px;
	}	
.tab_con{
	width:100%;
	border-radius:5px;
	background:#EEEEEE;
	border:1px solid #BDC5CD;
	}
.tab_con thead{
	background:url(../images/tab_bg.png) 0 0 repeat-x;
	}	
.tab_con thead td{
	color:#494949;
	font-weight:bold;
	line-height:30px;
	padding:0 5px;
	border-radius:5px 5px 0 0 ;
	border-bottom:1px solid #E8E8E8;
	}
.tab_con tbody tr:hover td{
	background-color:#f5f5f5;
	}
.tab_con tfoot td{
	color:#494949;
	line-height:40px;
	padding:0 10px;

	border-top:1px solid #D0D4D6;
	border-radius:0 0 5px 5px;
	}	
.con_c_c{
	padding:0 5px 5px 5px;
	}	
.tab_con tbody td{
	/* line-height:45px; */
	padding:10px 4px;
	background:#fcfcfc;
	border-top:1px solid #fff;
	border-bottom:1px solid #efefef;
	}
.tab_foot{
	padding:10px 0;
	line-height:30px;
	overflow: hidden;
	}	
.u_state{
	width:16px;
	height:16px;
	border-radius:8px;
	background-color:#c4c4c4;
    }
.lx{ background-color:#5398d4;}

.tab_con p{
	line-height:21px!important;
	}
.tab_two {width:100%;}
.tab_group{
    width:100%;
    border-radius:5px;
    background:#EEEEEE;
    border:1px solid #BDC5CD;
    }
.tab_group thead{
    background:url(../images/tab_bg.png) 0 0 repeat-x;
    }   
.tab_group thead  .one_tr td{
    color:#494949;
    font-weight:bold;
    line-height:30px;
    padding:0 5px;
    border-radius:5px 5px 0 0 ;
    border-bottom:1px solid #E8E8E8;
    }
.tab_group tbody .one_tr:hover td{
    background-color:#f5f5f5;
    }

.tab_group tbody  .one_tr td{
    padding:10px 4px;
    background:#fcfcfc;
    border-top:1px solid #fff;
    border-bottom:1px solid #efefef;
    }
.tab_two tbody td {
    background: none repeat scroll 0 0 #FCFCFC;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #FFFFFF;
    padding: 5px 4px;
}
/*-----------------------*/
.con_bzk{
	border-radius:5px;
	border:1px solid #BCC4CC;
	background-color:#EEEEEE;
	min-height:50px;
	margin:0 5px 5px 5px;
	overflow:hidden;
	}
/*-----------列表样式-------------------*/
.czx{
	line-height:20px;
	}
.czx a{
	width:19px;
	height:19px;
	vertical-align:bottom;
	display:inline-block;
	background-repeat:no-repeat;
	background-image:url(../images/ico.png);
	}	
.edit{background-position: -48px -6px;}	
.edit1{background-position: -48px -125px; border-right: 1px solid #D0D0D0; padding-right: 5px; cursor:pointer}	
.edit2{background-position: -48px -163px; border-right: 1px solid #D0D0D0; padding-right: 5px; cursor:pointer}	
.edit:hover{background-position:-8px -6px;}	

.del{background-position: -48px -97px; margin-left:10px;}	
.del:hover{background-position:-8px -97px;}

.session{
	width:22px!important;
	height:22px!important;
	background-position:-50px -36px;
	}
.session:hover{background-position:-10px -36px;}

/*------------分页样式------------*/
.pageDiv {
	float:right;
    clear: both;
    overflow: hidden;
    padding:0px 5px;
    text-align: center;
	
}
.pageDiv a {
    background-color: #F6F7F7;
    border: 1px solid #E4E7E9;
    color: #B3B3B3;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin-right: 4px;
    min-width: 28px;
    padding: 0 2px;
    text-align: center;
}
.pageDiv a:link, .pageDiv a:active, .pageDiv a:visited {
    color: #515151;
    text-decoration: none;
}
.pageDiv a.selected {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    cursor: text;
    padding-top: 1px;
}
.pageDiv a:hover {
    color: #000000;
    text-decoration: none;
}
.pageDiv a.pre, .pageDiv a.next {
    width: 68px;
}
.pageDiv a.pomit {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    cursor: text;
}	

/*----------------*/
.bzt{
	cursor:default;
	}
	
/*---------20131212-------*/
.tab_two_usergroup tbody td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dashed #EFEFEF;
    border-top: 1px solid #FFFFFF;
    padding: 5px 4px;
}

.tab_two_usergroup tbody tr:hover td{
    background-color:#f5f5f5;
}

.con_c_c .tab_group .usergroup_trsel{background-color:#f5f5f5;}
.tab_group .empty {
	background: #fcfcfc;
    line-height:40px;
}
/*---------20131212-------*/
/*---------20131225-------*/
.qrcE .add_input {
    width: 350px;
}

.qrcE table.a {
    width: 100%;
}

.qrcE table.a thead td {
    border-bottom: 1px solid #E8E8E8;
    border-radius: 5px 5px 0 0;
    color: #494949;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;
}

.qrcE table.a tbody td {
    padding-top: 10px;
}

.qrcE table.a label {
    margin-right: 10px;
}

.respan {
    display: inline-block;
    text-align: right;
    width: 110px;
}

.udul2 {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    margin-left: 100px;
    width: 70px;
}

.dhk_t_x_test {
    min-width: 100px;
    float: left;
    line-height: 30px;
}
/*---------20131225 end-------*/