*{
	font-family: "微软雅黑";
}
.dataTables_paginate{
    text-align: center;
}

.help-block_text{
    text-align: left;
    margin-top: 10px;
}
.table>tbody>tr>td{
	text-align: center;
}
.table>tbody>tr>td a{
	margin-left: 5px;
}
.marg_box{
	margin-left:10px;
}
.portlet-body{
	border: 1px solid #ddd;
}
.mar_border{
	height: 35px;
	line-height: 35px;
	border-top: 1px solid #cccccc;
}
.agent-bootbox-alert .modal-header,.agent-bootbox-confirm .modal-header {cursor: move;}
.fon_size_big{
	font-size: 35px;
	vertical-align: middle;
	display: inline-table;
}
.mar_text{
	text-align: center;
	padding: 16px 0;
	width: 100%;
}
.font_zi_size{
	font-size: 20px;
}
.font_zi_size_ctnt{
	margin-top: 10px;
	font-size:14px;
}
.margin_top{
	margin-top: 23px;
}
.dashboard-stat.green-haze .details .matop_fu_top,.dashboard-stat.red-intense .details .matop_fu_top,.dashboard-stat .details .matop_fu_top{
	padding-top: 0;
}
.mag_box{
	margin: 10px;
}
.col_font{
	color: ;
}
.portlet > .portlet-body.grey-cascade, .portlet.grey-cascade,.portlet.box.grey-cascade > .portlet-title{
	background:#f0f0f0;
	
}
.portlet.box.grey-cascade > .portlet-title > .caption,.portlet.box.grey-cascade > .portlet-title > .caption > i{
	color:#78787D;
}
.portlet.box.grey-cascade{
	border:1px solid #f0f0f0;
}
